{% extends 'registration/base.html' %}
{% block head %}
    <title>HelloChat:Login</title>
{% endblock %}
{% block content %}
    <div class="container">
        {% if form.errors %}
            <p class="errorlist"> Invalid username/password combination, please try again </p>
        {% endif %}
        <h1>Welcome</h1>

        <form class="form" action="{% url 'django.contrib.auth.views.login' %}" method="post">
            {% csrf_token %}
            <input type="text" placeholder="Username" value="" name="{{ form.username.html_name }}">
            <input type="password" placeholder="Password" value="" name="{{ form.password.html_name }}">
            <button type="submit" id="login-button">Login</button>
            <input type="hidden" name="next" value="{{ next }}"/>

            <div class="registerLink marginTop1P"><a href="{% url 'registration' %}" class="register_link">Not a member?
                Signup Now</a></div>
        </form>
    </div>
{% endblock %}
